*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(18, 130, 235), rgb(233, 13, 233));
}

.container{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input{
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    width: 100%;
    border: 2px solid #3494e6;
    border-radius: 5px;
    margin-bottom: 10px;
}

h1{
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.container p{
    font-size: 1.2rem;
    color: #333;
}

.footer {
    font-family: sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}